name: Trigger Events

on: 
push:
  branches: [ "test1", "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Echo
        run: echo "Testing GHA Pipeline"
